body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 1rem 2rem;
    background-color: black;
    border: none;
    color: #fff;
    border-radius: 1000px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

button::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1000px;
}